name: Build and conditionally deploy
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm typecheck
      - run: pnpm build
      - name: Install SSH key
        if: github.ref == 'refs/heads/main'
        env:
          FBS_SSH_KEY: ${{ secrets.FBS_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$FBS_SSH_KEY" >~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: ./scripts/deploy.sh
